<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778344789663-jrf0dovorouubsu5aqobenrju4c7bhc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778344789663-jrf0dovorouubsu5aqobenrju4c7bhc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBAR9n_VkXEbtMpURxG2Gr9Ooa-8F8n8eI</string>
	<key>GCM_SENDER_ID</key>
	<string>778344789663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ak.mycaterers</string>
	<key>PROJECT_ID</key>
	<string>my-caterers</string>
	<key>STORAGE_BUCKET</key>
	<string>my-caterers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778344789663:ios:30b85eeb4e3f357e3514aa</string>
</dict>
</plist>